@import "tailwindcss";

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, valentine;
}

html[data-theme="valentine"] {
  --color-base-content: oklch(0.4 0.153 2.432);
}

fieldset {
  font-size: inherit;
}

.label {
  color: var(--tw-prose-body);
}
